.cart {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
 
 .cart .order-wrapper {
     display: flex;
     justify-content: space-between;
     gap: 60px;
     align-items: flex-start;
  }
 
  .cart .order-wrapper .product-list {
     max-width: 720px;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 50px;
     border-bottom: 2px solid #000000;
     padding-bottom: 10px;
  }
 
  .cart .order-wrapper .product-list .product {
    display: flex;
    position: relative;
    gap: 30px;
    align-items: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 10%)
  }
 
  .cart .order-wrapper .product-list .product .photo {
    max-width: 130px;
    width: 100%;
    height: 140px;
    background: #F1F2F3;
    width: 100%;
  }
 
  .cart .order-wrapper .product-list .product .photo img {
   width: 100%;
 }
 
  .cart .order-wrapper .product-list .product .product-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
 
  .cart .order-wrapper .product-list .product .product-info .title {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }
 
  .cart .order-wrapper .product-list .product .product-info .price-wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }
 
  .cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity {
    display: flex;
    align-items: center;
    gap: 48px;
    max-width: 280px;
    width: 100%;
    justify-content: space-between;
  }
 
  .cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity {
    background: #F8F8FB;
    display: flex;
    gap: 20px;
    padding: 17px 23px;
  }
 
  .cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity .count {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
 
  .cart .order-wrapper .product-list .product .product-info .price-wrapper .price-and-quantity .quantity .count-button {
    cursor: pointer;
    color: #999999;
    font-size: 23px;
    font-weight: 500;
    line-height: 16px;
  }
 
  .cart .order-wrapper .product-list .product .product-info .price-wrapper .total-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
  }
 
  .cart .order-wrapper .product-list .product .product-info .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border: 1px solid rgba(68, 68, 68, 10%);
    color: rgba(68, 68, 68, 10%);
    cursor: pointer;
  }
 
  .cart .order-wrapper .order {
     max-width: 360px;
     width: 100%;
     padding: 40px;
     border: 1px  solid rgba(68, 68, 68, 0.1);
     display: flex;
     flex-direction: column;
     gap: 20px;
  }
 
  .cart .order-wrapper .order .title {
     font-family: Josefin Sans;
     font-size: 32px;
     font-weight: 400;
     line-height: 38px;
     color: #000000;
  }
 
  .cart .order-wrapper .order .order-price-wrapper {
     display: flex;
     flex-direction: column;
     gap: 20px;
  }
 
  .cart .order-wrapper .order .order-price-wrapper .price-row {
     display: flex;
     justify-content: space-between;
     gap: 15px;
     font-size: 16px;
     font-weight: 400;
     line-height: 27px;
     color: #444444;
     padding-bottom: 15px;
     border-bottom: 1px solid rgba(68, 68, 68, 10%);
  }
 
  .cart .order-wrapper .order .order-price-wrapper .price-row.delimiter {
     border-bottom: 2px solid #000000;
  }
 
  .cart .order-wrapper .order .order-price-wrapper .price-row .total {
     border-bottom: none;
  }
 
  .cart .order-wrapper .order .order-price-wrapper .price-row .name .additional {
     font-size: 14px;
     line-height: 24px;
  }
  
  .cart .order-wrapper .order .order-price-wrapper .price-row .price {
     font-family: Josefin Sans;
     font-size: 20px;
     font-weight: 400;
     line-height: 20px;
     color: #444444;
  }
 
  .cart .order-wrapper .order .button-wrapper {
     max-width: unset;
  }
 
  .cart .order-wrapper .order .button-wrapper .button {
     width: 100%;
     text-align: center;
  }
 
  .cart .promo-code-wrapper {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 250px 0;
  }
 
  .cart .promo-code-wrapper .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 
  .cart .promo-code-wrapper .info .title{
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: #000000;
  }
 
  .cart .promo-code-wrapper .info .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #444444;
  }
 
  .cart .promo-code-wrapper .promo-code {
    display: flex;
    align-items: center;
    gap: 30px;
  }
 
  .cart .promo-code-wrapper .promo-code .button-wrapper  {
    max-width: 54px;
  }
 
  .cart .promo-code-wrapper .promo-code .button-wrapper .button {
    padding: 17px 15px;
  }